/* Main content styles */
body {
	background-image: url(./Assets/Images/prism/prism.png);
}

section.container {
	background-color: rgb(248, 249, 250);
	margin-top: 100px;
	border-radius: 7px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.9);
	border-width: 1px;
	overflow: auto;
}

p,
img,
h1 {
	margin: 10px auto;
	display: inline-block;
}

h1 {
	color: rgb(60, 60, 60);
}
img {
	float: left;
	width: 225px;
	height: 225px;
	margin-right: 10px;
	margin-bottom: 0;
	border-radius: 7px;
	/* margin-top: 0; */
}

#profileDesc {
	margin-top: 0;
	font-size: 18px;
}

/* Adjusting bootstrap styles */
.container-fluid {
	height: 50px;
}

.d-flex {
	position: absolute;
	right: 95px;
}

.navbar-toggler {
	position: absolute;
	right: 20px;
}

#navbarToggleExternalContent {
	width: 200px;
	position: absolute;
	right: 0px;
}

.p-4 {
	position: relative;
	background: rgb(248, 249, 250);
	background: linear-gradient(
		0deg /*, rgba(248, 249, 250, 0.95) 20% */,
		rgba(248, 249, 250, 0.97) 90%,
		rgba(248, 249, 250, 1) 100%
	);
	border-bottom-left-radius: 7px;
	border-color: rgba(0, 0, 0, 0.98);
	border-style: solid;
	border-width: 0px 0px 1px 1px;
}
